.grid {
    display: flex;
    gap: 20px;
}

.card {
    background: #0000FF(169, 146, 239);
    padding: 20px;
    width: 2000px;
    border-radius: 10px;
    box-shadow: 0 0 8px #0000FF;
    text-align: center;
}